
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="home-slide" class="home slide active anchor" data-anchor="start">

    <div class="container wow bounceInRight" data-wow-duration="1s" data-wow-delay="0.9s">


    </div>
</div>