<!-- MENU -->
<div class="lj-menu">

    <div class="container">

        <div class="row">

            <!-- LOGO -->
            <div class="col-xs-5 col-sm-3 lj-logo wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.5s">
                <a href="#home">
                    <img src="img/logo.png" class="lj-logo" alt="">
                </a>
            </div>
            <!-- /LOGO -->

            <nav class="col-xs-7 col-sm-9 lj-text-right lj-menu-buttons">

                <ul class="lj-menu-long">
                    <li data-menuanchor="home"><a href="#home" class="activePage wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.7s">Home</a></li>
                    <li data-menuanchor="home/about"><a href="#home/about" class="wow fadeIn" data-wow-duration="1.5s" data-wow-delay="2s">About Us</a></li>
                    <li data-menuanchor="home/services"><a href="#home/services" class="wow fadeIn" data-wow-duration="1.5s" data-wow-delay="2.3s">Services</a></li>
                </ul>

                <ul class="lj-menu-short">
                    <li data-menuanchor="home/about"><a data-link="about-slide" href="#home/about"><i class="fa fa-info"></i></a></li>
                    <li data-menuanchor="home/services"><a data-link="services-slide" href="#home/services"><i class="fa fa-flash"></i></a></li>
                    <li data-menuanchor="contact"><a data-link="contact-slide" href="#contact"><i class="fa fa-envelope"></i></a></li>
                </ul>

            </nav>

        </div>

    </div>

</div>
<!-- /MENU -->