<div class="row">

    <!-- FOOTER SOCIALS -->
    <div class="col-xs-4">

        <ul class="lj-footer-socials wow fadeIn" data-wow-duration="3s" data-wow-delay="4s">
            <li><a class="fa fa-facebook" href="#"></a></li>
            <!--
            -->
            <li><a class="fa fa-dribbble" href="#"></a></li>
            <!--
            -->
            <li><a class="fa fa-twitter" href="#"></a></li>
        </ul>

    </div>
    <!-- /FOOTER SOCIALS -->
    <!-- FOOTER COPYRIGHTS -->
    <div class="col-xs-8 lj-footer-copyrights wow fadeIn" data-wow-duration="3s" data-wow-delay="4s">

        <p>

            <!-- YOUTUBE CONTROLS -->
            <span class="yt-controls">

            </span>
            <!-- /YOUTUBE CONTROLS -->

            <span class="copy">&copy; Chopped by Lumberjacks 2015</span>
        </p>
    </div>
    <!-- /FOOTER COPYRIGHTS -->

</div>
